<div class="p-4">
  <h2 class="text-2xl font-bold text-center text-indigo-700">Edit Customer</h2>

  <form [formGroup]="editCustomerForm" (ngSubmit)="onSubmit()">
    <label class="block mt-2">Name</label>
    <input
      type="text"
      formControlName="name"
      class="w-full p-2 border rounded"
    />

    <label class="block mt-2">Number</label>
    <input
      (keypress)="validateNumberInput($event)"
      maxlength="9"
      type="text"
      formControlName="number"
      class="w-full p-2 border rounded"
    />
    <p
      class="text-red-500 text-sm mt-1"
      *ngIf="numberControl.touched && numberControl.hasError('required')"
    >
      Number is required.
    </p>
    <p
      class="text-red-500 text-sm mt-1"
      *ngIf="numberControl.touched && numberControl.hasError('minlength')"
    >
      Number must be exactly 9 digits.
    </p>
    <div *ngIf="duplicateError" class="text-red-500">
      {{ duplicateErrorMessage }}
    </div>

    <label class="block mt-2">Date of Birth</label>
    <input
      type="date"
      formControlName="dob"
      class="w-full p-2 border rounded"
    />
    <p
      class="text-red-500 text-sm"
      *ngIf="editCustomerForm.controls['dob'].hasError('futureDate')"
    >
      Future dates are not allowed.
    </p>

    <label class="block mt-2">Gender</label>
    <select formControlName="gender" class="w-full p-2 border rounded">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>

    <div class="mt-4 flex justify-end">
      <button
        type="button"
        (click)="closeDialog()"
        class="px-4 py-2 bg-gray-400 text-white rounded mr-2"
      >
        Cancel
      </button>
      <button type="submit" class="px-4 py-2 bg-indigo-700 text-white rounded">
        Save
      </button>
    </div>
  </form>
</div>
